button{
    font-family: 'Raleway', sans-serif;
}
.ant-btn-danger {
    color: white !important;
    background-color: #f76c6c !important;
    border-color: #f76c6c !important;
}
.ant-divider-horizontal.ant-divider-with-text-right{
    font-weight: unset !important;
}