.ant-btn-danger {
    color: white !important;
    background-color: #f76c6c !important;
    border-color: #f76c6c !important;
}

.ant-divider-horizontal.ant-divider-with-text-right {
    font-weight: unset !important;
}

.ant-progress-status-success .ant-progress-text {
    color: unset !important;
}

.ant-collapse-borderless>.ant-collapse-item, .ant-collapse>.ant-collapse-item {
    border: 0 !important;
}

.ant-collapse-content-box {
    padding: 0px !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    left: 0px !important;
}

[class*="ant-col-"] {
    padding-left: 0.9em !important;
    padding-right: 0.9em !important;
}

/* .ant-row-flex>[class*="ant-col-"] {
    padding-left: 0px;
    padding-right: 0px;
} */

.ant-row, .ant-row-flex {
    margin-left: -0.9em !important;
    margin-right: -0.9em !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    padding: 0px !important;
}

/* STEPS */

.ant-steps-item-description {
    color: white !important;
}

.ant-steps-item-title {
    color: white !important;
    font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    font-weight: 700;
}

.ant-radio-group {
    width: 100% !important;
}

/* .ant-btn:hover, .ant-btn:focus {
    color: #ffa500;
    background-color: #19262d;
    cursor: pointer;
    text-decoration: none;
    border-color: #19262d;
} */

.ant-btn, .ant-btn:focus {
    height: unset !important;
    font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif !important;
    font-weight: 700 !important;
    transition: all 0.2s ease !important;
    transition-property: color, background-color, border-color !important;
    display: inline-block !important;
    padding: 0.5em 1em !important;
    background-color: #283b6c !important;
    color: #fff !important;
    font-size: 75% !important;
    font-weight: bold !important;
    text-decoration: none !important;
    text-align: center !important;
    line-height: normal !important;
    -webkit-appearance: none !important;
    border: 0.1em solid #283b6c !important;
    border-radius: 5px !important;
}

.ant-btn:active, .ant-btn.active, .ant-btn:hover {
    color: black !important;
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
}

.ant-checkbox-inner, .ant-radio-inner {
    height: 25px !important;
    width: 25px !important;
    border: 1px solid #ffffff !important;
    border-radius: 7px !important;
}

.ant-checkbox-inner::after {
    height: 10.142857px !important;
    left: 29% !important;
    top: 46% !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #161d2e !important;
    border-color: #161d2e !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus+.ant-checkbox-inner, .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus+.ant-radio-inner, .ant-radio-checked .ant-radio-inner {
    border-color: #19262d !important;
}

.ant-radio-inner::after {
    top: 3px !important;
    left: 3px !important;
    width: 17px !important;
    height: 17px !important;
    background-color: #f3976b !important;
    border-radius: 100px !important;
}

.ant-input, .ant-input-number {
    border: 2px solid white !important;
    margin-bottom: 10px !important;
    height: 47.5px !important;
    border-radius: 10px !important;
    color: black !important;
    padding: 0 35px 0 35px !important;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif !important;
    font-size: 85% !important;
}

.ant-input-group, .ant-input-affix-wrapper {
    font-size: 85% !important;
}

.ant-input-number-input {
    height: 40px !important;
    font-size: 120% !important;
}

.ant-input:hover, .ant-input:focus, .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled), .ant-input-number:hover {
    border-right-width: 2px !important;
    border-color: #e4e4e4 !important;
    box-shadow: none !important
}

.ant-input:focus, .ant-input-number:focus {
    border-color: #f3976b !important;
}

.ant-steps-item-wait .ant-steps-item-icon {
    background-color: #f3976b !important;
    border-color: #f3976b !important;
}

.ant-steps-item-wait .ant-steps-item-icon>.ant-steps-icon, .ant-steps-item-process .ant-steps-item-icon>.ant-steps-icon {
    color: black !important;
}

.ant-steps-item-process .ant-steps-item-icon {
    background: #f3976b !important;
}

.ant-steps-item-process .ant-steps-item-icon {
    border-color: #f3976b !important;
}

.ant-steps-item-finish .ant-steps-item-icon {
    background-color: #fcd669 !important;
    border-color: #fcd669 !important;
}

.ant-steps-item-finish>.ant-steps-item-content>.ant-steps-item-title::after {
    background-color: #fcd669 !important;
}

.ant-steps-item-finish .ant-steps-item-icon>.ant-steps-icon {
    color: #161d2e
}

.ant-tabs {
    font-size: unset !important;
    line-height: inherit !important;
}

.ant-tooltip-inner {
    background-color: #303c6c !important;
    color: white !important;
}

.ant-tooltip-placement-top .ant-tooltip-arrow, .ant-tooltip-placement-topLeft .ant-tooltip-arrow, .ant-tooltip-placement-topRight .ant-tooltip-arrow {
    border-top-color: #303c6c !important;
}

.ant-input-group-addon .ant-select-open .ant-select-selection, .ant-input-group-addon .ant-select-focused .ant-select-selection {
    color: #f3976b !important;
}

.ant-radio-group.ant-radio-group-outline.ant-radio-group-default input, .ant-radio-group.ant-radio-group-outline.ant-radio-group-default label {
    font-size: initial !important;
}

.ant-input-affix-wrapper .ant-input-suffix {
    padding-bottom: 8px !important;
}

.ant-badge {
    font-size: .6em !important;
}

.ant-badge-count {
    font-size: .9em !important;
}

.ant-badge-count, .ant-divider-inner-text {
    font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif !important;
    font-weight: 700 !important;
}

a {
    color: #f3976b !important;
}

a:hover {
    color: #fcd669 !important;
}

.ant-badge-count {
    box-shadow: none !important;
}

a.ant-btn {
    line-height: initial !important;
    color: white !important;
}

a.ant-btn:hover {
    color: #161d2d !important;
    cursor: pointer !important;
}

.ant-tabs-ink-bar {
    background-color: #ffa500 !important;
}

.ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-nav .ant-tabs-tab:hover {
    color: #ffa500 !important;
}

.ant-calendar-picker {
    width: 100% !important;
}

.ant-calendar {
    border-radius: 10px !important;
}

.ant-calendar-picker-container {
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif !important;
}

.ant-calendar-picker-container a {
    color: black !important;
}

.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year, .ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade, .ant-calendar-year-panel-year:hover, .ant-calendar-decade-panel-decade:hover {
    background: #fcd668 !important;
    border-radius: 10px !important;
}

.ant-calendar-selected-date .ant-calendar-date, .ant-calendar-selected-start-date .ant-calendar-date, .ant-calendar-selected-end-date .ant-calendar-date, .ant-calendar-date:hover, .ant-calendar-selected-day .ant-calendar-date {
    color: black !important;
    background: #fcd668 !important;
}

.ant-calendar-today .ant-calendar-date {
    color: black !important;
    border-color: #fcd668 !important;
}

.btn-yellow {
    background-color: #fcd668 !important;
    border-color: #fcd668 !important;
    color: black !important;
}

.btn-grey {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
    color: black !important;
}

a:focus {
    text-decoration: none !important;
}

.ant-tabs, .ant-collapse {
    font-size: unset !important;
    color: unset !important;
}

.ant-collapse {
    background-color: transparent !important;
}

textarea.ant-input {
    padding-top: 10px !important;
}