@import url('https://fonts.googleapis.com/css?family=Raleway:400,900&display=swap');
@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url('~static/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff');
  src: url('~static/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff') format('woff');
}

@font-face {
  font-family: 'Graphik-Bold';
  font-weight: normal;
  src: url('~static/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff');
  src: url('~static/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff') format('woff');
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Graphik';
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-size: 1em;
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    line-height: 1.375;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Graphik-Bold';
  font-weight: 600;
}

h1 {
  font-size: calc(2em + 250%);
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: calc(2.5em + 250%);
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: calc(3em + 250%);
    line-height: 1.05;
  }
}

h2 {
  font-size: calc(1.625em + 160%);
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: calc(2em + 160%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: calc(2.25em + 160%);
    line-height: 1.25;
  }
}

h3 {
  font-size: calc(1.375em + 120%);
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: calc(1.5em + 120%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: calc(1.75em + 120%);
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

#__nuxt, #__layout {
  height: 100%;
}

.top-bar {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
}

.title {
  text-align: center;
  padding: 5% 0;
  color: white;
  margin: 0 0 0.2em 0;
  font-size: 250%;
  line-height: 1.05;
}

.sub-title {
  color: white;
  font-size: calc(1.1em + 0.25vw);
  margin-bottom: 1.5em;
}

.heading {
  font-size: 250%;
  line-height: 1.05;
}

@media (min-width: 57.5em) {
  .heading--x-large {
    font-size: 450%;
  }
}

.heading--xx-large {
  font-size: 450%;
}

@media (min-width: 57.5em) {
  .heading--xx-large {
    margin: 0 0 0.2em 0;
    font-size: 490%;
  }
}

.heading--xxx-large {
  font-size: 450%;
}

@media (min-width: 57.5em) {
  .heading--xxx-large {
    margin: 0 0 0.1em 0;
    font-size: 615%;
  }
}
