@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff');
  src: url('/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff') format('woff');
}

@font-face {
  font-family: 'Graphik-Bold';
  font-weight: normal;
  font-display: swap;
  src: url('/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff');
  src: url('/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff') format('woff');
}

html {
  overflow: hidden;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-size: calc(1.6em + 0.5vw);
  line-height: 1.25;
  font-size: calc(1.6em + 0.5vw);
  font-display: swap;
}

@media (min-width: 57.5em) {
  body {
    font-size: calc(1.1em + 0.85vw);
  }
}

@media (min-width: 89.5em) {
  body {
    font-size: 2.32em;
  }
}

h1, h2, h3, h4, h5, h6, label {
  font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif; font-weight: 700;
  font-weight: 600;
}

label {
  color: black;
}

h1 {
  font-size: calc(2em + 250%);
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: calc(2.5em + 250%);
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: calc(3em + 250%);
    line-height: 1.05;
  }
}

h2 {
  font-size: calc(1.625em + 160%);
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: calc(2em + 160%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: calc(2.25em + 160%);
    line-height: 1.25;
  }
}

h3 {
  font-size: calc(1.375em + 120%);
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: calc(1.5em + 120%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: calc(1.75em + 120%);
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

#__nuxt, #__layout {
  height: 100%;
}

.top-bar {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
}

.title {
  text-align: center;
  padding-top: 5%;
  color: white;
  margin: 0 0 0.2em 0;
}

.sub-title {
  color: white;
  margin-bottom: 1.5em;
  padding-bottom: 4%;
}

.heading {
  margin: 0 0 0.25em 0;
  font-size: 250%;
  line-height: 1.05;
  color: white;
}

.catch-phrase {
  color: white;
}

@media (min-width: 57.5em) {
  .heading--x-large {
    font-size: 330%;
  }
}

.heading--xx-large {
  font-size: 330%;
}

@media (min-width: 57.5em) {
  .heading--xx-large {
    margin: 0 0 0.2em 0;
    font-size: 390%;
  }
}

.heading--xxx-large {
  font-size: 330%;
}

@media (min-width: 57.5em) {
  .heading--xxx-large {
    margin: 0 0 0.1em 0;
    font-size: 515%;
  }
}

.subheading {
  font-size: 160%;
  line-height: 1.125;
}
.x-small {
  font-size: 80%;
}

.small {
  font-size: 85%;
}

.medium {
  font-size: 100%;
}
.large {
  font-size: 120%;
}
.flush {
  margin: 0 !important;
}
.cover-button {
  transition: all 0.2s ease;
  transition-property: color, background-color, border-color;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #1d2d35;
  color: #fff;
  font-size: 100%;
  font-family: 'Graphik-Bold', 'Helvetica Neue', helvetica, 'Apple Color Emoji',
    arial, sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
  border: 0.1em solid #1d2d35;
  border-radius: 5px;
  background-color: #ffa500;
  border-color: #ffa500;
}
a.cover-button {
  color: #1d2d35 !important;
}

.validation_error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.validation_error input, .validation_error textarea, .validation_error .ck.ck-editor__editable_inline, .validation_error .vs__dropdown-toggle, .validation_error .vs__search::placeholder, .validation_error input:hover, .validation_error textarea:hover, .validation_error .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled), .validation_error .ck.ck-editor__editable_inline:hover, .validation_error input:focus, .validation_error textarea:focus, .validation_error .ck.ck-editor__editable_inline:focus {
  border-color: #fa755a !important;
  background-color: #fa755a !important;
  color: white !important;
}

.validation_error .ant-input-affix-wrapper .ant-input-prefix, .validation_error .ant-input-affix-wrapper .ant-input-suffix {
  color: white;
}

.validation_error .vs__open-indicator {
  fill: white;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}

.btn-sm {
  font-size: 12px !important;
}

.btn-outline-orange {
  background-color: transparent !important;
  color: #f3976b !important;
  border-color: #f3976b !important;
}

.btn-outline-orange:hover {
  border-color: #fcd669 !important;
}

.btn-outline-dark {
  background-color: transparent !important;
  color: #19262d !important;
}

.btn-outline-dark:hover {
  background-color: #19262d !important;
  color: white !important;
}

.vs__dropdown-toggle, .vs__search::placeholder {
  background: white !important;
  border-color: white !important;
  border-radius: 10px !important;
  font-size: 75%;
  font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif; font-weight: 700;
  min-height: 47.5px;
}

.vs__search::placeholder {
  font-size: 100%;
  color: #c0c0c0 !important;
  font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.vs__dropdown-toggle {
  padding: 0 35px 0 35px !important;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.vs--open.drop-up .vs__dropdown-toggle {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.vs__dropdown-menu {
  background: white !important;
  border-color: white !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-size: 75%;
  font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif; font-weight: 700;
  box-shadow: unset !important
}
.vs__dropdown-menu[data-popper-placement]{
  font-size: 60%;
}
.vs__dropdown-menu[data-popper-placement="top"]{
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ;
}
.vs__actions {
  cursor: pointer;
}

.vs__selected {
  margin: none !important;
}

.vs__deselect {
  fill: white!important;
}

.vs-multiple .vs__selected {
  background-color: #fcd668;
  border: 1px solid #fcd668;
  color: black;
  margin: 8px 5px;
  padding: 0px 0.5em;
}

.vs__dropdown-option--highlight {
  background-color: #fcd668 !important;
  color: black !important;
}

.vs-multiple .vs__dropdown-menu {
  position: unset !important;
}
b, strong {
  font-family: "Graphik-Bold", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;;
}

.toasted {
  border-radius: 10px !important;
}

.toasted .primary.info, .toasted.toasted-primary.info {
  background: #303c6c !important;
}

.toasted-container .toasted .action {
  font-size: 10px !important;
}

.toasted-container .toasted .action:hover {
  text-decoration: none !important;
  color: #fcd669 !important;
}

.ant-input-group .ant-input {
  margin-bottom: 10px !important;
}

.mtb-10 {
  margin: 10px 0px;
}

.mtb-25 {
  margin: 25px 0px;
}

.mtb-15 {
  margin: 15px 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-10 {
  margin-top: 10px;
  transition: 500ms;
}

.mb-15 {
  margin-bottom: 15px;
}

.mtb-30 {
  margin: 30px 0px;
}

.mt-5 {
  margin-top: 5px;
}

.v-select ::-webkit-scrollbar, .vs__dropdown-menu::-webkit-scrollbar {
  width: 8px;
}

/* Track */

.v-select ::-webkit-scrollbar-track, .vs__dropdown-menu::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */

.v-select ::-webkit-scrollbar-thumb, .vs__dropdown-menu::-webkit-scrollbar-thumb  {
  background: #f3976b;
  border-radius: 10px;
}

.p-m-0 p {
  margin: 0;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline-block;
}

.no-padding{
  padding: 0 !important;
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease .5s;
  -webkit-animation: fadeOut ease .5s;
  -moz-animation: fadeOut ease .5s;
  -o-animation: fadeOut ease .5s;
  -ms-animation: fadeOut ease .5s;
  opacity: 0;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

::selection {
  background: #fcd668;
  color: black;
}

::-moz-selection {
  background: #fcd668;
  color: black;
}
svg:focus{
  outline: none;
}
@media (max-width: 750px) {
  .ant-input,
  .vs__dropdown-toggle,
  .input-phone-number input {
    padding: 0 15px !important;
  }
  .vs__dropdown-toggle {
    min-height: 35px !important;
  }
  .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners{
    padding: 0 10px 0 15px !important;
  }
  .toasted {
    transform: translateY(50px) !important
  }
}

