@font-face {
  font-family: 'Graphik';
  font-weight: normal;
  src: url('~static/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff');
  src: url('~static/fonts/Graphik-Regular-Web-36a20ba0e775b202ea4c516e93a90b390a3ae495d69b0854e66d744f601327c5.woff') format('woff');
}

@font-face {
  font-family: 'Graphik-Bold';
  font-weight: normal;
  src: url('~static/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff');
  src: url('~static/fonts/Graphik-Bold-Web-1e0056812ec1e2fd3dc9ef458b15a188a912570556fff0b5f721c549f865ccf4.woff') format('woff');
}

html {
  overflow: hidden;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: 'Graphik';
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
  font-size: calc(1.6em + 0.5vw);
  line-height: 1.25;
  font-size: calc(1.6em + 0.5vw);
  font-display: swap;
}

@media (min-width: 57.5em) {
  body {
    font-size: calc(1.1em + 0.85vw);
  }
}

@media (min-width: 89.5em) {
  body {
    font-size: 2.32em;
  }
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Graphik-Bold';
  font-weight: 600;
}

label {
  color: black;
}

h1 {
  font-size: calc(2em + 250%);
  line-height: 1.25;
}

@media (min-width: 43.75em) {
  h1 {
    font-size: calc(2.5em + 250%);
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: calc(3em + 250%);
    line-height: 1.05;
  }
}

h2 {
  font-size: calc(1.625em + 160%);
  line-height: 1.15384615;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: calc(2em + 160%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: calc(2.25em + 160%);
    line-height: 1.25;
  }
}

h3 {
  font-size: calc(1.375em + 120%);
  line-height: 1.13636364;
}

@media (min-width: 43.75em) {
  h3 {
    font-size: calc(1.5em + 120%);
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: calc(1.75em + 120%);
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
  }
}

#__nuxt, #__layout {
  height: 100%;
}

.top-bar {
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  margin: 30px;
}

.title {
  text-align: center;
  padding-top: 5%;
  color: white;
  margin: 0 0 0.2em 0;
}

.sub-title {
  color: white;
  margin-bottom: 1.5em;
  padding-bottom: 4%;
}

.heading {
  margin: 0 0 0.25em 0;
  font-size: 250%;
  line-height: 1.05;
}

@media (min-width: 57.5em) {
  .heading--x-large {
    font-size: 330%;
  }
}

.heading--xx-large {
  font-size: 330%;
}

@media (min-width: 57.5em) {
  .heading--xx-large {
    margin: 0 0 0.2em 0;
    font-size: 390%;
  }
}

.heading--xxx-large {
  font-size: 330%;
}

@media (min-width: 57.5em) {
  .heading--xxx-large {
    margin: 0 0 0.1em 0;
    font-size: 515%;
  }
}

.subheading {
  font-size: 160%;
  line-height: 1.125;
}

.validation_error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

.validation_error label, .validation_error small {
  color: #fa755a;
}

.validation_error input, .validation_error .ck.ck-editor__editable_inline, .validation_error input:hover, .validation_error input:focus {
  border-color: #fa755a !important;
  background-color: #fa755a;
  color:white;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}

.btn-sm {
  font-size: 12px !important;
}

.btn-outline-orange {
  background-color: transparent !important;
  color: #f3976b !important;
  border-color: #f3976b !important;
}

.btn-outline-orange:hover {
  border-color: #fcd669 !important;
}

.btn-outline-dark {
  background-color: transparent !important;
  color: #19262d !important;
}

.btn-outline-dark:hover {
  background-color: #19262d !important;
  color: white !important;
}

.vs__dropdown-toggle, .vs__search::placeholder {
  background: white !important;
  border-color: white !important;
  border-radius: 10px !important;
  font-size: 16px;
  font-family: 'Graphik-Bold';
  height: 47.5px;
}
.vs__search::placeholder {
  color: #c0c0c0 !important;
}

.vs__dropdown-toggle {
  padding: 0 35px 0 35px !important;
}

.vs--open .vs__dropdown-toggle {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.vs__dropdown-menu {
  background: white !important;
  border-color: white !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  font-size: 16px;
  font-family: 'Graphik-Bold';
  box-shadow: unset !important
}

.vs__actions {
  cursor: pointer;
}

.vs__selected {
  margin: none !important;
}

.vs__deselect {
  fill: white!important;
}

.vs-multiple .vs__selected {
  background-color: #fcd668;
  border: 1px solid #fcd668;
  color: black;
  margin: 8px 5px;
  padding: 0px 0.5em;
}

.vs-multiple .vs__dropdown-menu {
  position: unset !important;
}

.small {
  font-size: 85%;
}

b {
  font-family: Graphik-Bold;
}