.align-center {
  text-align: center;
}

.float-right {
  float: right;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.inline {
  display: inline-block;
}

.btn-sucess {
  background: #74d474;
  color: white;
  border-color: #74d474;
}

.btn-sucess:hover, .btn-sucess:focus {
  color: #74d474;
  background-color: #fff;
  border-color: #74d474;
}

.pb-0 {
  padding-bottom: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.f-r {
  float: right;
}

.ck.ck-editor__editable_inline {
  border: 2px solid #000000 !important;
  min-height: 100px;
}

.h-200.ck.ck-editor__editable_inline {
  min-height: 200px;
}

.mapboxgl-map {
  height: 100vh;
  max-height: 300px;
  border: 2px solid #000000 !important;
  border-radius: 2px;
}

.add-listing-tabs .ant-tabs-bar {
  display: none;
}

.button-secondary {
  background-color: transparent;
  color: #1d2d35;
  border-color: #1d2d35;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border-radius: 5px !important;
}