.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.float-right {
  float: right;
}

.underline {
  text-decoration: underline;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f2f2f2;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08);
  border: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.inline {
  display: inline-block;
}

.d-block {
  display: block;
}

.btn-sucess {
  background: #74d474;
  color: white;
  border-color: #74d474;
}

.btn-sucess:hover, .btn-sucess:focus {
  color: #74d474;
  background-color: #fff;
  border-color: #74d474;
}

.pb-0 {
  padding-bottom: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-15{
  margin-top: 15px;
}

.f-r {
  float: right;
}

.ck.ck-editor__editable_inline {
  border: 2px solid #ffffff !important;
  min-height: 100px;
  background-color: white;
  font-family: Graphik-Bold;
}

.ck.ck-editor__editable_inline:hover {
  border-color: #e4e4e4 !important;
}

.h-200.ck.ck-editor__editable_inline {
  min-height: 200px;
}

.mapboxgl-map {
  height: 100vh;
  max-height: 300px;
  border-radius: 10px;
}

canvas.mapboxgl-canvas:focus {
  outline: none;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib{
  background-color: transparent !important;
  font-family: Graphik;
}

.mapboxgl-ctrl-attrib .mapbox-improve-map {
  font-family: Graphik-Bold;
}

.add-listing-tabs .ant-tabs-bar {
  display: none;
}

.button-secondary {
  background-color: transparent;
  color: #1d2d35;
  border-color: #1d2d35;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-rounded-corners {
  border-radius: 10px !important;
  transition: all 0.3s;
  font-size: 14px;
  padding: 0 10px 0 35px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  box-shadow: none !important;
  border-color: #f3976b !important;
}

.ck-content * {
  margin: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.filepond--panel-root {
  background-color: #ffffff !important;
}
.filepond--item {
  width: calc(50% - .5em);
}
.toasted {
  font-family: 'Graphik-Bold';
}

.mr-15 {
  margin-right: 15px;
}