
:root {
    --gray-light: #ececed;
    --gray-accent: #e9e9ea;
  }
  
  @keyframes loading {
    0% {
      background-position-x: 0;
    }
    40%,
    100% {
      background-position-x: -200%;
    }
  }
  
  .blue-shimmer {
    background-color: #303c6c;
    border-color: #303c6c;
    border-radius: 10px;
    background-image: linear-gradient(
      110deg,
      #303c6c 73%,
      #303c6c 77%,
      #303c6c 78%,
      #2b3561 84%,
      #2b3561 88%,
      #303c6c 94%,
      #303c6c 100%
    );
    background-size: 200% 100%;
    background-position: 0 center;
    animation: 2s ease-in-out loading infinite;
  }